.header {
  padding-block: 2rem;
}

.header__content {
  max-width: 60ch;
}

.header__title {
  margin-block-end: 1rem;
}

@media screen {
  .header {
    padding-inline: 4rem;
  }
}

@media (min-width: 60rem) {
  .header {
    margin-block-end: 2rem;
  }
}
