.section {
  display: grid;
  gap: 1rem;
  margin-block-end: 2rem;

  background-color: var(--theme-color-background);
}

.section__title {
  margin-bottom: 1rem;
}

@media screen {
  .section {
    padding: 4rem;
    margin-block-end: 0;

    &:nth-child(even) {
      --theme-color-background: #fafafa;
    }
  }
}

@media (--breakpoint-small) {
  .section {
    grid-template-columns: 20ch 1fr;
  }

  .section__title {
    font-size: 1rem;
    line-height: 2rem;
  }
}
