ol, ul {
  margin-block-start: 1rem;
  padding-inline: 0;
  list-style-position: inside;
}

dl {
  padding: 0;
  margin: 0;
}

dt {
  display: block;
  font-weight: bold;
}

dd {
  margin-inline: 0;
  margin-block: 0 1rem;
}
