:root {
  --font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';

  font-size: 100%;
}

@media print {
  :root {
    font-size: 80%;
  }
}

